.DS_Store
node_modules/
.pnp/
.pnp.js
.vs-code/
.vscode/
*.log
*.exe

.idea/
*.iml

.env
.env.local
.env.*.local

.cache/
dist/

/back/vendor
/back/mongodb
/back/bin
/back/src/golang.org
/back/back.exe
/back/back
/back/main.exe
/back/main
/back/typhoon-back.exe
/back/typhoon-back
