.DS_Store
node_modules/
.vs-code/
.vscode/
*.log
*.exe

.idea/
*.iml

.env
.env.local
.env.*.local

.cache/
dist/

/back/vendor
/back/mongodb
/back/back.exe
/back/back
/back/main.exe
/back/main
/back/typhoon-back.exe
/back/typhoon-back
