.details {
  /* border: solid 1px #929292; */
  border-top: none;

  &:first-child {
    /* border-top: solid 1px #929292; */
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
  }
  &:last-child {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
  }
  & + & {
    /* Have a prior & */
    margin-top: 1em;
  }
}

.summary {
  font-weight: 400;

  &::-webkit-details-marker {
    display: none;
  }
}

.content {
  --border-color: none;
  margin: 0.5em auto 0.4em 1em;
  padding: 0.4em 0 0.4em 1em;

  box-shadow: -0.2em 0px 0px 0px var(--border-color);

  display: grid;
  grid-template-areas:
    "name bubbles"
    "button .";
  grid-template-columns: 1fr auto;
  grid-row-gap: 1em;
}
