.underline {
  --color: rgb(var(--text));
  border-bottom: 1px;
  text-decoration: none;
  color: rgb(var(--color));
  border-bottom-color: rgb(var(--color));
  transition: color 150ms ease-in-out, border-bottom-color 150ms ease-in-out;
  &:hover {
    --color: rgb(var(--secondary)) !important;
  }
}

.bold {
  font-weight: bold;
  border-bottom: 2px;
}
