.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 15em 3fr 1fr;
  grid-template-areas:
    "projects-list project-details env"
    "projects-list project-details build";
  grid-column-gap: 1em;
}
.projects_list {
  grid-area: projects-list;
  background-color: rgb(var(--atom-one-dark-background));
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  & > a + a {
    border-top: 2px solid rgba(120, 120, 120);
  }
}
.project_item {
  color: white;
  padding-left: 1em;
  padding-bottom: 1em;
  padding-top: 1em;
  text-decoration: none;
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  &:global(.active) {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
.project_details {
  grid-area: project-details;
  overflow-y: scroll;
  padding-bottom: 1em;
}
.env_section {
  grid-area: env;
}
.build_section {
  grid-area: build;
}
