@import url("https://fonts.googleapis.com/css?family=Roboto");

:root {
  --text: 14, 30, 37;
  --primary: 83, 204, 252;
  --secondary: 255, 192, 203;
  --tertiary: 186, 21, 183;
  --viarezo: 79, 98, 193;
  --error: 255, 0, 0;

  --github: 36, 41, 45;

  --php: 132, 141, 186;
  --create-react-app: 62, 205, 249;
  --python3: 247, 212, 52;
  --static: 95, 95, 95;
  --node: 137, 192, 53;

  --atom-one-dark-background: 40, 44, 51;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  max-width: 700px;
  overflow-x: hidden;
  margin: 2em auto;
  padding: 1em;
  color: rgb(var(--text));
  background-color: #f1f1f1;
}

* {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  outline-offset: -0.2em;
  outline-width: 0.1em;
}
