@import url("https://fonts.googleapis.com/css?family=Roboto");

$colorsTheme: (
  text: #0e1e25,
  primary: #53ccfc,
  secondary: #ffc0cb,
  viarezo: #4f62c1
);

// ripped CSS4 vars out of color map
:root {
  // each item in color map
  @each $name, $color in $colorsTheme {
    --#{$name}: #{$color};

    // Add darker and lighter variants
    @for $i from 1 through 3 {
      --#{$name}-l#{$i}: #{lighten($color, $i * 5%)};
      --#{$name}-d#{$i}: #{darken($color, $i * 5%)};
    }
  }
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  max-width: 700px;
  margin: 2em auto;
  color: var(--text);
}

* {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}
