.label {
  font-size: 0.9em;
  font-weight: 600;
  margin-left: calc(1em / 0.9);
  margin-bottom: 0.5em;
}

.select:active + .label {
  &:before {
    content: "✓";
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  margin-bottom: 1em;
}

.error {
  color: rgb(var(--error));
}

.radio {
  opacity: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  margin: 0;
}
