.label {
  font-size: 0.9em;
  font-weight: 600;
  margin-left: calc(1em / 0.9);
  margin-bottom: 0.5em;
}

.input {
  border: none;
  padding: 1em;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  margin-bottom: 1em;
}

.error {
  color: rgb(var(--error));
}
