.button {
  border: none;
  padding: 0.5em;
  background-color: transparent;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}

.lines {
  max-height: 15em;
  white-space: pre-wrap;
  font-family: monospace;
  overflow-y: scroll;
}

.line {
  display: block;
  & + & {
    margin-top: 0.5em;
  }
  &::before {
    content: "$ ";
  }
}
