.button {
  border: none;
  padding: 0.5em;
  background-color: transparent;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}

.lines {
  max-height: 15em;
  white-space: pre-wrap;
  font-family: monospace;
  overflow-y: scroll;
  background-color: rgb(var(--atom-one-dark-background));
  padding: 0 1.2em !important;
  color: white;
  border: 1.2em solid rgb(var(--atom-one-dark-background));
  border-left: none;
  border-right: none;
  font-size: 0.8em;
}

.line {
  display: block;

  & + & {
    margin-top: 0.5em;
  }
  &::before {
    content: "$ ";
  }
}
